[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
python-magic = "*"
numpy = "*"
typing = "*"
aiohttp = "*"
asn1crypto = "*"
async-timeout = "*"
attrs = "*"
python-dateutil = "*"
python-axolotl = "*"
cryptography = "*"
six = "*"
python-magic-bin = "*"
pytz = "*"
requests = "*"
pymongo = "*"
decouple = "*"
python-decouple = "*"

[requires]
python_version = "3.6"
